<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468502071061-6vogrgt3msskikh70p4u3ouvadm7mtdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468502071061-6vogrgt3msskikh70p4u3ouvadm7mtdm</string>
	<key>API_KEY</key>
	<string>AIzaSyBXsBUP_wX0Ve09bLVJfgOcAmQgPhBh24s</string>
	<key>GCM_SENDER_ID</key>
	<string>468502071061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>busstop.com</string>
	<key>PROJECT_ID</key>
	<string>busmonitoring-7a7ce</string>
	<key>STORAGE_BUCKET</key>
	<string>busmonitoring-7a7ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468502071061:ios:ddc3e1a70a6752c8578b1c</string>
</dict>
</plist>